Vagrant.configure(2) do |config|
    # Configure vagrant settings
	{{vm.vbox_conf}}
    config.vm.network "private_network", ip: '{{vm.vm_ip_address}}'

	config.vm.provider "virtualbox" do |v|
	    # Configure virtualbox settings
	    v.name = '{{vm.vm_name_prefix}}'
	    v.memory = {{vm.vm_memory}}
	    v.cpus = {{vm.vm_cpus}}
	end

end