Vagrant.configure(2) do |config|
	config.vm.box = '{{vm.vbox_name}}'
	config.vm.box_url = '{{vm.vbox_url}}'

	config.vm.provider "virtualbox" do |v|
	    v.name = '{{vm.vm_name}}'
	    v.memory = {{vm.vm_memory}}
	    v.cpus = {{vm.vm_cpus}}
	end

end